:root{

    --cor_um: #ffffff;
    --cor_dois: #f5f5f5;
    --cor_tres: #001919;

    --tipografia_primaria: "Poppins", sans-serif;
}

body{

    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{

    width: 0.75vw;
    background-color: var(--cor_tres);
}

::-webkit-scrollbar-track {
    background: var(--cor_dois)
}

::-webkit-scrollbar-thumb {
    background: var(--cor_tres)
}